HOST=0.0.0.0
PORT=1337
APP_KEYS="xxxxxx"
API_TOKEN_SALT=xxxx
ADMIN_JWT_SECRET=xxxx
TRANSFER_TOKEN_SALT=xxxx
JWT_SECRET=xxxx

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=xxxx
DATABASE_NAME=xxxx
DATABASE_USERNAME=xxxx
DATABASE_PASSWORD=xxxxx.
DATABASE_SSL=false

ADMIN_JWT_SECRET=xxxxxx